<div class="card">
  <div class="content" id="{{css_id}}">
    <div class="cardface front">
      <a href="{{link}}" class="track-main">
        <h2>{{title}}</h2>
        <i class="pictogram {{pictogram}}"></i>
      </a>
      <i class="flip-button info flip-open"></i>
    </div>
    <div class="cardface back">
      <a href="{{link}}" class="track-main"><h2>{{title}}</h2></a>
      <p>{{{description}}}</p>
      <i class="flip-button close"></i>
    </div>
  </div>
</div>